---
import { Image } from 'astro:assets';
import organizers from '../data/organizers.json';
import responsible from '../data/responsible.json';

// todo: nulls, more fields

const images = import.meta.glob(['../images/*', '../images/people/*', '../images/events/*'], {eager: true});
function getImage(path: String) {
	return (images[`../images${path}`] as any)?.default;
};

const data = [...organizers, ...responsible];
function getRole(idx: number) {
	return idx >= organizers.length ? 'responsible' : 'organizers';
}
 
---

<div class="team-members-container">
	<div class="team-members-scroll">
		{data.map((member, i) => (
			<div class="team-member" data-tag={i} data-role={getRole(i)}>
				<div class="member-image">
					<Image src={getImage(member.smallImage)} alt={member.name} inferSize/>
				</div> 
				<h3 class="member-name">{member.name}</h3>
				<p class="member-role">{member.activity}</p>
			</div>
		))}
	</div>

	{data.map((member, i) => (
		<div class="member-info-expanded" data-tag={i}>
			<div class="member-expanded-image">
				<Image src={getImage(member.bigImage)} alt={member.name} inferSize/>
			</div>
			<div class="member-expanded-info">
				<h2 class="member-expanded-name">{member.name}</h2>
				<span class="member-expanded-role">{member.role}</span>
				<p class="member-expanded-description">{member.description}</p>
			</div>
		</div>
	))}
</div>


