---
import { Image } from 'astro:assets';
import stories from '../data/stories.json';

const images = import.meta.glob(['../images/*', '../images/people/*', '../images/events/*'], { eager: true });

function getImage(path: string) {
	return (images[`../images${path}`] as any)?.default;
}
---

<div class="stories-container">
	<div class="stories-scroll">
		{stories.map((story) => (
			<div class="story-card">
				<div class="story-image-container">
					<Image src={getImage(story.image)} alt={story.alt} class="story-image" inferSize />
				</div>
				<h3 class="story-name">{story.name}</h3>
				<p class="story-faculty">{story.faculty}</p>
				<p class="story-description">{story.description}</p>
				<p class="story-date">{story.date}</p>
			</div>
		))}
	</div>
</div>
